#intellij
.idea
/.idea_modules
/*.iml
/out
/.project
/.classpath
/bin
/RUNNING_PID
/.settings
/data
#sbt
project/project
libexec
target
.cache/
tmp
.history
dist


#scala
*.class
*.log
logs

.DS_Store
